# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_KYRIE_LEFT
    def_bool $(shields_list_contains,kyrie_left)

config SHIELD_KYRIE_RIGHT
    def_bool $(shields_list_contains,kyrie_right)