#include "kyrie.dtsi"

&default_transform {
	col-offset = <7>;
};

&default_kscan {					
	col-gpios = <&pro_micro 020 GPIO_ACTIVE_HIGH>,
				<&pro_micro 022 GPIO_ACTIVE_HIGH>,
				<&pro_micro 024 GPIO_ACTIVE_HIGH>,
				<&pro_micro 100 GPIO_ACTIVE_HIGH>,
				<&pro_micro 011 GPIO_ACTIVE_HIGH>,
				<&pro_micro 104 GPIO_ACTIVE_HIGH>,
				<&pro_micro 106 GPIO_ACTIVE_HIGH>;
};